body{
	background-color:lightgreen}



.menu-button{
	background-color: blueviolet;
		padding: 15px;
	font-size: 13px;
	cursor: pointer;
}
.left-menu{
	
	float:left;
	display: inline-block;
		
}
.dropdown-menu{
	display: none;
	position: absolute;	
}

.dropdown-menu a:hover{
background-color: antiquewhite;	
	
}

.left-menu:hover .dropdown-menu{
	display:block
	
}
.left-menu:hover .menu-button{
	background-color: beige
}